@font-face {
    font-family: 'Gotham Light';
    src: url('../../../public/fonts/Gotham\ Light.otf');
}
@font-face {
    font-family:'Blaak Thin';
    src: url('../../../public/fonts/BlaakThin_PERSONAL.ttf');
}
@font-face {
    font-family: 'NiteClub Normal';
    src: url('../../../public/fonts/NITECLUB.TTF');
}
@font-face {
    font-family:'Gotham Bold' ;
    src: url('../../../public/fonts/Gotham\ Bold.otf');
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}