@import '../utils/mixins';
@import '../utils/variables';

footer{
    & .footer-container{
        & .for_form, & .form-group input:invalid[focused=true], & .form-input {
            font-family: 'Gotham Light';
        }
        h1{
            font-family: 'Gotham Bold';
            letter-spacing: 1px;
            @include mobile{
                font-size: 20px;
            }
            @include tablet{
                font-size: 25px;
            }

        }
        h2, .text-more_break{
            font-size: 23px;
            font-weight: 500;
        }
        & .text-more_break{
            font-family: 'Blaak Thin';
            line-height: 25px;
            letter-spacing: 1px;
        }
        & .footer_elements-first,
        & .footer_elements-second,
        & .footer_elements-third{
            h3{
                font-family: 'Gotham Bold';
            }
            li{
                font-family: 'Gotham Light';
            }
        }
        h3{
            font-size: 15px;
            font-weight: 600;
        }
        p, span, li, .btn-submit{
            font-size: 13px;
        }
        & .text-more__span, .label-footer,
        & .for_form--inputs > input, .form-input,
        & .css-wsp0cs-MultiValueGeneric,
        & .css-1jqq78o-placeholder,
        & .css-1nmdiq5-menu{
            font-size: 12px;
            font-weight: 300;
        }
    }
}