@import '../utils/mixins';
@import '../utils/variables';

.heading{
    & .heading-head{
        h1{
            font-family: 'NiteClub Normal';
            @include mobile{
                font-size: 30px;
                line-height: 35px;
            }
            @include tablet{
                font-size: 40px;
                line-height: 45px;
            }
        }
        & .heading-element{
            font-family: Gotham Bold;
            @include mobile{
                font-size: 16px;
            }
            @include tablet{
                font-size: 18px;
            }
        }
    }
    & .text--heading{
        p{
            font-family: Gotham Light;
            font-size: 13px;
        }
    }
}