@import '../utils/mixins';
@import '../utils/variables';

nav li {
    font-style: normal;
    font-family: 'Gotham Light';
    @include mobile{
        font-size: 20px;
        font-weight: 300;
    }
    @include ordi{
        font-weight: 400;
        font-size: 14px;
    }

}