@import '../utils/mixins';
@import '../utils/variables';

.main-studiopage {
    & .first-element__studiopage {
        & .first-element__text--studio {
            font-family: 'Gotham Light';
            h2 {
                font-family: 'NiteClub Normal';
                font-weight: 400;
                font-size: 23px;
            }
            & .more-text--studiopage {
                & .more-text-span--studio {
                    font-size: 13px;
                    font-weight: 400;
                }
                p {
                    font-size: 13px;
                }
            }
        }

    }
    & .second-element__studiopage{
        & .second-element--btn {
            font-size: 13px;
        }
        & .second-element--arrow{
            h2{
                font-family: 'NiteClub Normal';
                font-weight: 400;
                font-size: 40px;
                letter-spacing: 2px;
            }
        }
    }
    & .third-element__studiopage {
        h2 {
            font-family: 'NiteClub Normal';
            font-size: 23px;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }
    & .fourth-element__studiopage{
        font-family: 'Gotham Light';
        h2 {
            font-family: 'NiteClub Normal';
            font-size: 23px;
            font-weight: 400;
            letter-spacing: 1px;
        }
        p{
            font-size: 13px;
        }
    }
    & .fith-element__studiopage{
        h2 {
            font-family: 'NiteClub Normal';
            font-size: 23px;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }








}