@import '../utils/mixins';
@import '../utils/variables';

.filter-realisation{
    & .filter-realisation--elements{
        fieldset{
            & .form-group--input:hover,
            & .form-group--input:focus,
            & .form-group--input:active {
                & .label-input {
                    font-family: Gotham Bold;
                    border-bottom: solid 1px;
                }
            }
            & .label-input{
                font-size: 16px;
                font-family: Gotham Light;
            }
            input:checked~.label-input{
                font-family: Gotham Bold;
                border-bottom: solid 1px;
            }
        }
    }
}