@mixin mobile {
    @media screen and (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin ordi {
    @media screen and (min-width: map-get($breakpoints, ordi)) {
        @content;
    }
}

@mixin ordiBurger {
    @media screen and (min-width: map-get($breakpoints, ordiBurger)) {
        @content;
    }
}

@mixin largeOrdi {
    @media screen and (min-width: map-get($breakpoints, largeOrdi)) {
        @content;
    }
}
@mixin xlargeOrdi {
    @media screen and (min-width: map-get($breakpoints, xlargeOrdi)) {
        @content;
    }
}

@mixin shadow {
    box-shadow: 0px 5px 10px #999;
}

//2
@mixin row-start{
    flex-direction: row;
    align-items: flex-start;
}

@mixin column-center{
    flex-direction: column;
    align-items: center;
}

@mixin display-align {
    display: flex;
    align-items: center;
}

@mixin display-align-flex-end {
    display: flex;
    align-items: flex-end;
}

@mixin align-justify-evenly {
    align-items: center;
    justify-content: space-evenly;
}

@mixin align-start-justify-between {
    align-items: flex-start;
    justify-content: space-between;
}

@mixin align-start-justify{
    align-items: flex-start;
    justify-content: center;
}

@mixin display-flex-direction {
    display: flex;
    flex-direction: column;
}

@mixin display-justify {
    display: flex;
    justify-content: center;
}

@mixin display-justify-end {
    display: flex;
    justify-content: flex-end;
}

@mixin direction-justify {
    flex-direction: column;
    justify-content: flex-start;
}

@mixin justify-row{
    justify-content: center;
    flex-direction: row;
}

@mixin display-justify-around{
    display: flex;
    justify-content: space-around;
}

@mixin wrap-direction {
    flex-wrap: wrap;
    flex-direction: column;
}

@mixin wrap-row {
    flex-wrap: wrap;
    flex-direction: row;
}

//3
@mixin display-all-left {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@mixin display-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin display-align-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin display-justify-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin display-align-flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin display-start-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

@mixin display-align-start-direction {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

//4
@mixin dispaly-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin display-all-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin column-start-end {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}