$breakpoints: (
    mobile: 0px,
    tablet: 769px,
    ordi: 1024px,
    ordiBurger: 1151px,
    largeOrdi: 1440px,
    xlargeOrdi: 1650px
);

//colors

$first-color: #F8F7F4;
$white-color: #FFFFFF;
$black-color: #000000;
$orange-color: #FF6060;
$footer-color: #bfbfbf;
$footer-text-underline: #495057;
$seclect-color: #036aab;
$background-element: #f7f8f4;
$green-mint: #A2E4B8;
$yellow-banana: #FEDD00;

//Others variables
$margin: 5px 10px 15px 20px;
$padding: 5px 10px 15px 20px;
