$breakpoints: (
    mobile: 0px,
    tablet: 712px,
    ordi: 1024px,
    largeOrdi: 1440px
);

//colors

$first-color: #F8F7F4;
$white-color: #FFFFFF;
$black-color: #000000;
$orange-color: #FF6060; 

//Others variables
$margin: 5px 10px 15px 20px;
$padding: 5px 10px 15px 20px;
