@import '../utils/variables';
@import '../utils/mixins';

.card-realisation--boxes {
    @include display-all-center;
    cursor: pointer;
    @include mobile{
        width: 100%;
    }
    @include tablet{
        width: 45%;
    }
    & .link-card {
        display: flex;
        position: relative;
        img{
            object-fit: cover;
            width: 100%;
            @include mobile{
                height: 265px;
            }
            @include tablet{
                height: 100%;
            }
        }
        & .hover-card{
            position: absolute;
            height: 100%;
            width: 100%;
            @include dispaly-all;
            opacity: 0;
            transition: all 0.3s ease-out;
            background-color: rgba(0, 0, 0, 0.82);
            color: $white-color;
        }
    }
}
.card-realisation--boxes:hover,
.card-realisation--boxes:active,
.card-realisation--boxes:focus{
    & .hover-card {
        opacity: 1;
    }
}