@import '../utils/variables';
@import '../utils/mixins';

.collapse{
    @include display-flex-direction;
    gap: nth($gap, 4);
    border-top: solid 1px;
    padding: nth($padding, 3) nth($padding, 2);
    section{
        @include display-justify-space;
        h3 {
            text-transform: uppercase;
        }
        img {
            object-fit: cover;
            height: 100%;
        }
    }
    &:nth-last-child(-n+1){
        border-bottom: solid 1px;
    }
}