@import '../utils/variables';
@import '../utils/mixins';

.collapse{
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: nth($padding, 3) nth($padding, 2);
    section{
        display: flex;
        align-items: center;
        justify-content: space-between;


        h3 {

        }

        img {
            object-fit: cover;
            height: 100%;
        }
    }

}