@import '../utils/variables';
@import '../utils/mixins';

.drag-and--drop{
    width: 100%;
    @include mobile{
        height: 465px;
    }
    @include ordi{
        height: 600px;
    }
    @include largeOrdi {
        height: 780px;
    }
    @include xlargeOrdi{
        height: 900px;
    }
    article{
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        img {
            height: auto;
            object-fit: cover;
            position: absolute;
            cursor: grab;
            @include mobile {
                width: 30%;
            }
            @include tablet {
                width: 10%;
            }
        }
        & .first-image--drop {
            left: 42%;
            top: 30%;
        }
        & .second-image--drop {
            left: 33%;
            top: 12%;
        }
        & .third-image--drop {
            left: 34%;
            top: 36%
        }
        & .fourth-image--drop {
            left: 26%;
            top: 50%;
        }
        & .fifth-image--drop {
            left: 32%;
            top: 16%;
        }
        & .sixth-image--drop {
            left: 22%;
            top: 17%;
        }
        & .seventh-image--drop {
            left: 41%;
            top: 10%;
        }
        & .eighth-image--drop {
            left: 25%;
            top: 30%;
        }
        & .ninth-image--drop {
            left: 35%;
            top: 60%;
        }
    }
}