@import '../utils/variables';
@import '../utils/mixins';

.icon-container{
    @include display-align;
        @include mobile{
            justify-content: space-evenly;
        }
        @include tablet{
            justify-content: space-between;
        }
    & a{
        color: $black-color;
        display: flex;
    }
    & svg{
        @include mobile{
            font-size: 30px;
        }
        @include tablet{
            font-size: 25px;
        }
    }
}