@import '../utils/variables';
@import '../utils/mixins';

.icon-container{
    border: solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    & svg{
        font-size: 25px;
    }
}