@import '../utils/variables';
@import '../utils/mixins';

.icon-container{
    display: flex;
    align-items: center;
        @include mobile{
            justify-content: space-evenly;
        }
        @include tablet{
            justify-content: space-between;
        }
    & a{
        color: $black-color
    }
    & svg{
        font-size: 25px;
    }
}