@import '../utils/variables';
@import '../utils/mixins';
@import '../animations/animation.scss';

.main-loading {
    height: 268px;
    @include display-start-center;
    position: relative;
    img{
        position: absolute;
        @include mobile{
            object-fit: contain;
            width: 10%;
            height: 10%;
            top: 8%;
        }
        @include tablet{
            top: 7%;
            width: 4%;
            height: 12%;
        }
        @include ordi{
            object-fit: cover;
            width: 2%;
            height: 11%;
            top: 7%;
        }
    }
}

.main-loading::after {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50%;
    border: 1px solid $seclect-color;
    border-color: $orange-color $green-mint $black-color $yellow-banana ;
    animation: main-loading 1.2s linear infinite;
}

