@import '../utils/variables';
@import '../utils/mixins';

.main-loading {
    height: 268px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.main-loading::after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    border: 1px solid $seclect-color;
    border-color: $orange-color $green-mint $black-color $yellow-banana ;
    animation: main-loading 1.2s linear infinite;
}

@keyframes main-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}