@import '../utils/variables';
@import '../utils/mixins';

.filter-realisation{
    width: 100%;
    @include mobile{
        padding-bottom: nth($padding, 4)*2.5;
    }
    & .filter-realisation--elements{
        @include display-all-center;
        fieldset{
            @include display-all-center;
            padding: nth($padding, 4)*2 0;
            width: 100%;
            gap: nth($gap, 4);
            @include mobile{
                flex-wrap: wrap;
            }
            @include tablet{
                flex-wrap: nowrap;
            }
        }
    }
    & .filter-realisation--images{
        @include display-all-center;
        @include mobile{
            @include wrap-direction;
        }
        @include tablet{
            @include wrap-row;
            gap: nth($gap, 4)*2.5;
        }
    }
}