@import '../utils/variables';
@import '../utils/mixins';

.filter-realisation{
    width: 100%;
    & .filter-realisation--elements{
        display: flex;
        align-items: center;
        justify-content: center;
        fieldset{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: nth($padding, 4)*2 0;
            width: 100%;
            gap: 10px;
            @include mobile{
                flex-wrap: wrap;
            }
            @include tablet{
                flex-wrap: nowrap;
            }
        }
    }
    & .filter-realisation--images{
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile{
            flex-wrap: wrap;
            flex-direction: column;
        }
        @include tablet{
            flex-wrap: wrap;
            flex-direction: row;
            gap: 50px
        }
    }

}