@import '../utils/variables';
@import '../utils/mixins';

.filter-realisation{
    width: 100%;
    & .filter-realisation--elements{
        display: flex;
        align-items: center;
        justify-content: center;
        fieldset{
            padding: nth($padding, 4)*2 0;
            text-align: center;
            width: 100%;
            label {
                padding: nth($padding, 3);
                border-bottom: 1px;
            }
        }
    }

}