@import '../../utils/variables';
@import '../../utils/mixins';

//realisation input
.form-group--input{
    display: flex;
    align-items: center;
    gap: 10px;
    input{
        appearance: none;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: 1px solid #999;
        transition: 0.2s all linear;
    }
    input:checked {
        border: 6px solid $black-color;
    }
}
//footer form
.form-group {
    @include display-flex-direction;
    margin: nth($margin, 4) 0;

    & .alert {
        font-size: 12px;
        padding: nth($padding, 1)-2;
        color: red;
        display: none;
    }

    input:invalid[focused="true"]~.alert {
        display: block;
    }

    input:invalid[focused="true"] {
        border: 1px solid red;
        width: 100%;
    }
}