@import '../../utils/variables';
@import '../../utils/mixins';

.main-expertisepage{
    @include mobile {
        margin-top: nth($margin, 4)*7;
    }
    @include xlargeOrdi {
        margin-top: nth($margin, 4)*10;
    }
    & .first-element__expertisepage {
        display: flex;
        @include mobile {
            flex-direction: column;
        }
        @include tablet {
            flex-direction: row;
            padding-bottom: nth($padding, 4)*10;
        }
        & .first-element__image--expertise {
            @include display-all-center;
            position: relative;
            @include mobile {
                width: 100%;
            }
            @include tablet {
                width: 55%;
            }
            & .parent-btn{
                position: absolute;
                & .btn{
                    top: 79%;
                    right: -3%;
                    @include mobile {
                        @include btn-mobile-expertise;
                    }
                    @include tablet {
                        @include btn-width-height;
                    }
                }
            }
            img, & .parent-btn{
                object-fit: cover;
                @include mobile {
                    width: 80%;
                    height: 100%;
                }
                @include tablet {
                    width: 77%;
                    height: 70%;
                }
                @include ordi {
                    width: 70%;
                    height: 85%;
                }
                @include largeOrdi {
                    width: 60%;
                    height: 100%;
                }
            }
        }
        & .first-element__text--expertise {
            @include display-flex-direction;
            @include mobile {
                width: 100%;
                align-items: center;
                padding: nth($padding, 2)*3 0 nth($padding, 4)*3.5 0;
            }
            @include tablet {
                align-items: flex-start;
                gap: nth($gap, 2);
                width: 45%;
            }
            @include ordi {
                gap: nth($gap, 4)*1.75;
            }
            @include xlargeOrdi {
                gap: nth($gap, 4)*2.5;
            }
            & .title-epxertise {
                @include display-align-start-direction;
                line-height: 31px;
                @include mobile {
                    width: 80%;
                }
                @include tablet {
                    width: 100%;
                }
                & .title-expertise__span {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }
            & .more-text--expertisepage {
                @include display-flex-direction;
                gap: nth($gap, 4);
                @include mobile {
                    width: 80%;
                    margin-top: nth($margin, 4);
                }
                @include tablet {
                    margin-top: 0;
                }
                @include ordi {
                    width: 70%;
                }
                @include xlargeOrdi {
                    width: 50%;
                }
            }
        }
    }
    & .second-element__expertisepage{
        display: flex;
        background: $background-element;
        position: relative;
        @include mobile {
            flex-direction: column;
            padding-top: nth($padding, 4)*5;
        }
        @include tablet {
            flex-direction: row-reverse;
            padding: nth($padding, 4)*10 0;
        }
        & .second-element__image--expertise{
            @include display-all-center;
            position: relative;
            @include mobile {
                width: 100%;
            }
            @include tablet {
                width: 55%;

            }
            & .parent-btn{
                position: absolute;
                & .btn {
                    top: 40%;
                    right: 20%;
                    @include mobile {
                        @include btn-mobile-expertise;
                    }
                    @include tablet {
                        @include btn-width-height;
                    }
                }
            }
            img, & .parent-btn{
                object-fit: cover;
                @include mobile {
                    width: 80%;
                    height: 100%;
                }
                @include tablet {
                    width: 77%;
                    height: 70%;
                }
                @include ordi {
                    width: 70%;
                }
                @include largeOrdi {
                    width: 60%;
                    height: 100%;
                }
            }
        }
        & .second-element__text--expertise{
            @include display-flex-direction;
            @include mobile {
                width: 100%;
                align-items: center;
                padding: nth($padding, 2)*3 0 nth($padding, 4)*3.5 0;
            }
            @include tablet {
                align-items: flex-end;
                gap: nth($gap, 2);
                width: 45%;
            }
            @include ordi {
                gap: nth($gap, 4)*1.75;
            }
            @include xlargeOrdi {
                gap: nth($gap, 4)*2.5
            }
            h2{
                text-transform: uppercase;
                letter-spacing: 2px;
                @include mobile {
                    width: 80%;
                }
                @include ordi {
                    width: 70%;
                }
                @include xlargeOrdi {
                    width: 50%;
                }
            }
            & .more-text--expertisepage{
                @include display-flex-direction;
                gap: nth($gap, 4);
                @include mobile {
                    width: 80%;
                    margin-top: nth($margin, 4);
                }
                @include tablet {
                    margin-top: 0;
                }
                @include ordi {
                    width: 70%;
                }
                @include xlargeOrdi {
                    width: 50%;
                }
            }
        }
    }
    & .third-element__expertisepage{
        display: flex;
        position: relative;
        @include mobile {
            flex-direction: column;
            padding-top: nth($padding, 4)*5;
        }
        @include tablet {
            flex-direction: row;
            padding: nth($padding, 4)*10 0
        }
        & .third-element__image--expertise{
            @include display-all-center;
            position: relative;
            @include mobile {
                width: 100%;
            }
            @include tablet {
                width: 55%;
            }
            & .parent-btn {
                position: absolute;
                & .btn {
                    top: 40%;
                    right: 20%;
                    @include mobile {
                        @include btn-mobile-expertise;
                    }
                    @include tablet {
                        @include btn-width-height;
                    }
                }
            }
            img, & .parent-btn{
                object-fit: cover;
                @include mobile {
                    width: 80%;
                    height: 100%;
                }
                @include tablet {
                    width: 77%;
                    height: 70%;
                }
                @include ordi {
                    width: 70%;
                }
                @include largeOrdi {
                    width: 60%;
                    height: 100%;
                }
            }
        }
        & .third-element__text--expertise{
            @include display-flex-direction;
            @include mobile {
                width: 100%;
                align-items: center;
                padding: nth($padding, 2)*3 0 nth($padding, 4)*3.5 0;
            }
            @include tablet {
                align-items: flex-start;
                gap: nth($gap, 2);
                width: 45%;
            }
            @include ordi {
                gap: nth($gap, 4).175;
            }
            @include xlargeOrdi {
                gap: nth($gap, 4)*2.5;
            }
            h2{
                text-transform: uppercase;
                letter-spacing: 2px;
                @include mobile {
                    width: 80%;
                }
                @include ordi {
                    width: 70%;
                }
                @include xlargeOrdi {
                    width: 50%;
                }
            }
            & .more-text--expertisepage{
                @include display-flex-direction;
                gap: nth($gap, 4);
                @include mobile {
                    width: 80%;
                    margin-top: nth($margin, 4);
                }
                @include tablet {
                    margin-top: 0;
                }
                @include ordi {
                    width: 70%;
                }
                @include xlargeOrdi {
                    width: 50%;
                }
            }
        }
    }
    & .fourth-element__expertisepage {
        display: flex;
        background: $background-element;
        position: relative;
        @include mobile {
            flex-direction: column;
            padding-top: nth($padding, 4)*5;
        }
        @include tablet {
            flex-direction: row-reverse;
            padding: nth($padding, 4)*10 0;
        }
        & .fourth-element__image--expertise {
            @include display-all-center;
            position: relative;
            @include mobile {
                width: 100%;
            }
            @include tablet {
                width: 55%;
            }
            & .parent-btn {
                position: absolute;
                & .btn {
                    top: 79%;
                    right: -3%;
                    @include mobile {
                        @include btn-mobile-expertise;
                    }
                    @include tablet {
                        @include btn-width-height;
                    }
                }
            }
            img, & .parent-btn {
                object-fit: cover;
                @include mobile {
                    width: 80%;
                    height: 100%;
                }
                @include tablet {
                    width: 77%;
                    height: 70%;
                }
                @include ordi {
                    width: 70%;
                }
                @include largeOrdi {
                    width: 60%;
                    height: 100%;
                }
            }
        }
        & .fourth-element__text--expertise {
            @include display-flex-direction;
            @include mobile {
                width: 100%;
                align-items: center;
                padding: nth($padding, 2)*3 0 nth($padding, 4)*3.5 0;
            }
            @include tablet {
                align-items: flex-end;
                gap: nth($gap, 2);
                width: 45%;
            }
            @include ordi {
                gap: nth($gap, 4)*1.75;
            }
            @include xlargeOrdi {
                gap: nth($gap, 4)*2.5;
            }
            & .title-epxertise {
                @include display-align-start-direction;
                line-height: 31px;
                @include mobile {
                    width: 80%;
                }
                @include ordi {
                    width: 70%;
                }
                @include xlargeOrdi {
                    width: 50%;
                }
                & .title-expertise__span {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }
            & .more-text--expertisepage {
                @include display-flex-direction;
                gap: nth($gap, 4);
                @include mobile {
                    width: 80%;
                    margin-top: nth($margin, 4);
                }
                @include tablet {
                    margin-top: 0;
                }
                @include ordi {
                    width: 70%;
                }
                @include xlargeOrdi {
                    width: 50%;
                }
            }
        }
    }
}