@import '../../utils/variables';
@import '../../utils/mixins';

.main-homepage{
    & .exception-homepage{
        @include display-align-flex;
        @include mobile{
            margin: nth($margin, 4)*5 0 nth($margin, 4)*2.5 0
        }
        @include tablet{
            margin: nth($margin, 4)*10 0 nth($margin, 4)*6 0;
        }
        & .exception-element{
            letter-spacing: 1px;
            width: 80%;
            text-align: center;
            & .exception-img{
                background: center / contain no-repeat url('../../../images/home/circle.webp');
                padding: nth($padding, 4)+8.8 0;
            }
        }
    }
    & .first-element__homepage {
        display: flex;
            @include mobile{
                flex-direction: column;
            }
            @include tablet{
                flex-direction: row;
                position: relative;
                z-index: 4;
            }
        & .first-element__image{
            @include mobile{
                width: 100%;
                text-align: center;
            }
            @include tablet{
                width: 55%;
                text-align: right;
            }
            & img{
                object-fit: cover;
                @include mobile{
                    width: 80%;
                    height: 100%;
                }
                @include tablet{
                    width: 77%;
                    margin-right: nth($margin, 4)*2.5;
                }
                @include ordi{
                    width: 70%;
                    margin-right: nth($margin, 4)*4;
                }
                @include largeOrdi{
                    width: 45%;
                }
            }
        }
        & .first-element__text{
            @include display-flex-direction;
            @include mobile{
                width: 100%;
                align-items: center;
                padding: nth($padding, 2)*3 0 nth($padding, 4)*3.5 0; 
            }
            @include tablet{
                align-items: flex-start;
                gap: nth($gap, 2);
                width: 45%;
            }
            @include ordi{
                gap: nth($gap, 4)*1.75;
            }
            @include xlargeOrdi{
                gap: nth($gap, 4)*2.5;
            }
            h2 {
                text-transform: uppercase;
                letter-spacing: 1px;
                @include mobile{
                    width: 80%;
                }
                @include tablet{
                    width: 100%;
                }
            }
            & .more-text--homepage{
                @include display-flex-direction;
                gap: nth($gap, 4);
                @include mobile{
                    width: 80%;
                    margin-top: nth($margin, 4);
                }
                @include tablet{
                    margin-top: 0;
                }
                @include ordi{
                    width: 70%;
                }
                @include xlargeOrdi{
                    width: 50%;
                }
            }
            & .last-child__first-element{
                text-transform: uppercase;
                @include mobile{
                    width: 80%;
                    margin-top: nth($margin, 4)+10;
                }
                @include tablet{
                    width: 100%;
                }
                a{
                    color: $black-color;
                    padding: nth($padding, 2) 0;
                    border-bottom: solid 2px;
                }
            }
        }
    }
    & .second-element__homepage{
        background: $background-element;
        position: relative;
        z-index: 2;
        overflow: hidden;
        @include mobile{
            top: 0;
            padding: nth($padding, 4)*5 0;
        }
        @include tablet{
            padding: nth($padding, 4)*10 0;
            top: -25px;
        }
        @include ordi{
            top: -65px;
        }
        & .second-element__homepage--images{
            @include display-all-row;
            @include mobile{
                gap: nth($gap, 2);
                width: 200%;
                position: relative;
                left: -25%;
                padding: 0;
            }
            @include tablet{
                gap: nth($gap, 4);
                width: 100%;
                left: 0;
                padding: 0 nth($padding, 4);
            }
            & .second-element__first--image{
                height: 100%;
                a{
                    color: $black-color;
                    position: relative;
                    display: flex;
                    & .second-element__all--text{
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        @include dispaly-all;
                        opacity: 0;
                        transition: all 0.3s ease-out;
                        background-color: rgba(0, 0, 0, 0.82);
                        line-height: 30px;
                        & p{
                            color: $white-color;
                        }

                    }
                    & .second-element__all--image{
                        display: flex;
                        height: 100%;
                        width: 100%;
                        img{
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                a:hover, a:focus{
                    & .second-element__all--text{
                        opacity: 1;
                    }
                }
                & .second-element__title{
                    text-align: center;
                    padding: nth($padding, 4) 0;
                    @include mobile{
                        display: none;
                    }
                    @include tablet{
                        display: block;
                    }
                }
            }
        }
        & .last-child__section-two{
            text-transform: uppercase;
            text-align: center;
            margin-top: nth($margin, 4)*5;
            a {
                color: $black-color;
                padding: nth($padding, 2) 0;
                border-bottom: solid 2px;
            }
        }
    }
    & .third-element__homepage{
        padding: nth($padding, 4)+15 0 nth($padding, 4)*5 0;
        @include dispaly-all;
        h2{
            padding-bottom: nth($padding, 4)*2.5;
            text-transform: uppercase;

        }
        & .third-element__homepage--images{
            height: 100%;
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        & .last-child__section-three{
            text-transform: uppercase;
            text-align: center;
            margin-top: nth($margin, 4)*2.5;
            a {
                color: $black-color;
                padding: nth($padding, 2) 0;
                border-bottom: solid 2px;
            }
        }
    }
    & .fourth-element__homepage{
        padding: nth($padding, 4)*5 0 0 0;
        & .fourth-element__homepage--images{
            width: 100%;
            height: 100%;
            display: flex;
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}