@import '../../utils/variables';
@import '../../utils/mixins';

.main-studiopage{
    @include mobile {
        margin-top: nth($margin, 4)*7;
    }
    @include xlargeOrdi{
        margin-top: nth($margin, 4)*10;
    }
    & .first-element__studiopage{
        display: flex;
        position: relative;
        z-index: 4;
        @include mobile {
            flex-direction: column;
        }
        @include tablet {
            flex-direction: row;
        }
        & .first-element__image--studio{
            @include mobile {
                width: 100%;
                text-align: center;
            }
            @include tablet {
                width: 55%;
                text-align: right;
            }
            img{
                object-fit: cover;
                @include mobile {
                    width: 80%;
                }
                @include tablet {
                    width: 77%;
                    height: 100%;
                    margin-right: nth($margin, 4)*2.5;
                }

                @include ordi {
                    width: 70%;
                    margin-right: nth($margin, 4)*4;
                }

                @include largeOrdi {
                    width: 45%;
                }

            }
        }
        & .first-element__text--studio{
            display: flex;
            flex-direction: column;
            @include mobile {
                width: 100%;
                align-items: center;
                padding: nth($padding, 2)*3 0 nth($padding, 4)*3.5 0;
            }
            @include tablet {
                align-items: flex-start;
                gap: 10px;
                width: 45%;
            }
            @include ordi {
                gap: 35px;
            }
            @include xlargeOrdi {
                gap: 50px;
            }

            h2{
                text-transform: uppercase;
                letter-spacing: 1px;
                @include mobile {
                    width: 80%;
                }
                @include tablet {
                    width: 100%;
                }
            }
            & .more-text--studiopage{
                display: flex;
                flex-direction: column;
                gap: 20px;
                @include mobile {
                    width: 80%;
                    margin-top: nth($margin, 4);
                }
                @include tablet {
                    margin-top: 0;
                }
                @include ordi {
                    width: 70%;
                }
                @include xlargeOrdi {
                    width: 50%;
                }

            }
        }
    }
    & .second-element__studiopage{
        display: flex;
        align-items: center;
        flex-direction: column;
        background: $background-element;
        padding: nth($padding, 4)*10 0;
        position: relative;
        z-index: 2;
        @include mobile {
            top: 0;
            padding: nth($padding, 4)*5 0;
        }
        @include tablet {
            padding: nth($padding, 4)*10 0;
            top: -25px;
        }
        @include ordi {
            top: -65px;
        }
        & .second-element--btn{
            background: $black-color;
            color: $white-color;
            border-radius: 50%;
            height: 100px;
            width: 300px;
            transform: rotateZ(10deg) scale(1);
            transition: all .3s;
            cursor: pointer;
            position: absolute;
            top: -5%;
            right: 10%;
            & .btn-line{
                border-bottom: solid 2px $white-color;
                padding: nth($padding, 1)+2 0;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        & .second-element--btn:hover{
            transform: rotateZ(0deg) scale(1.1);
            transition: all .3s ease-in-out;
        }
    }
    & .third-element__studiopage{
        
    }









}