@import '../utils/variables';
@import '../utils/mixins';


.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $first-color;
    h1{
        padding: nth($padding, 4)*2;
        text-transform: uppercase;
    }
    & .footer_fom{
        display: flex;
        width: 100%;
        padding-bottom: nth($padding , 4)*6;
        & .footer-img{
            width: 50%;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        & .for_form{
            width: 50%;
            display: flex;
            justify-content: center;
            & .for_form--inputs{
                width: 60%; //80
                & .first-for__form{
                    display: flex;
                    gap: 50px;
                    & .form-group{
                        width: 50%;
                        border-bottom: solid 2px $footer-text-underline;
                        padding: nth($padding, 2) 0;
                    }
                }
                & .second-for__form{
                    & .form-group{
                        border-bottom: solid 2px $footer-text-underline;
                        padding: nth($padding, 2) 0;
                        width: 100%;
                    }
                }
                & .select-options{
                    & .result {
                        background: $seclect-color;
                        color: $white-color;
                        padding: nth($padding, 1);
                    }
                    & .select-group{
                        border-bottom: solid 2px $footer-text-underline;
                        padding: nth($padding, 2) 0;
                        width: 100%;
                    }
                }
                & .textarea{
                    & .label-footer{
                        margin: nth($margin, 4) 0;
                    }
                    & .form-group{
                        & .form-input{
                            border: solid 2px $footer-text-underline;
                            margin: nth($margin, 1) 0;
                        }
                    }
                }
                & .btn-form{
                    text-align: center;
                    & .btn-submit{
                        text-transform: uppercase;
                        border-bottom: solid 2px $black-color;
                    }
                }
            }
        }
    }
    & .footer_details{
        width: 80%;
        display: flex;
        justify-content: space-around;
        border-top: solid 2px $footer-color;
        padding: nth($padding, 2)*8;
        & .text-more{
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & .text-more_child{
                display: flex;
                flex-direction: column;
            }
        }
        & .footer_elements{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 50px;
            width: 50%;
            & .footer_elements-first, & .footer_elements-second, & .footer_elements-third{
                height: 100%;
                h3{
                    padding: 0 0 nth($padding, 4) 0
                }
                ol {
                    list-style-type: none;
                }
            }

        }
    }
}