@import '../utils/variables';
@import '../utils/mixins';
@import '../base/header';
@import '../animations/animation.scss';

.header-container{
    @include display-justify-space;
    width: 100%;
    padding: nth($padding, 3);
    position: fixed;
    top: 0;
    left: 0;
    transition: .2s;
    z-index: 5;
    &.sticky {
        background: $white-color;
    }
    & .header-logo{
        position: relative;
        @include mobile{
            width: 100%;
        }
        @include tablet{
            width: 60%;
        }
        & a {
            @include display-align-flex-end;
            img{
                object-fit: cover;
                height: 100%;
                @include mobile{
                    width: 50%;
                }
                @include ordi{
                    width: 25%;
                }
            }
        }

    }
    nav{
        position: relative;
        width: 38%;
        & .header-nav__ul.active{
            left: 0;
        }
        ul{
            @include display-align;
            @include mobile{
                position: fixed;
                left: 100%;
                top: 0;
                gap: nth($gap, 4)*2;
                @include direction-justify;
                width: 100%;
                height: 100vh;
                text-align: center;
                transition:  0.3s ease-in-out;
                background: $white-color;
                z-index: 1;
            }
            @include ordiBurger {
                @include justify-row;
                position: relative;
                left: 0;
                top: 0;
                height: auto;
                gap: 0;
            }
            & .burger-next{
                @include mobile{
                    @include display-justify-end;
                    padding: nth($padding, 4);
                    width: 100%;
                }
                @include ordiBurger{
                    display: none;
                }
            }
            li{
                padding: nth($padding, 2);
                cursor: pointer;
                a{
                    color: $black-color;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                }
            }
            & .exception-react{
                margin-top: nth($margin, 4)*5;
                @include mobile{
                    width: 60%;
                }
                @include tablet{
                    width: 20%;
                }
                @include ordiBurger{
                    display: none;
                }
            }
        }
    }
}

.nav-active {
    position: relative;

    &::after {
        content: "";
        height: 4px;
        width: 0;
        background-color: $orange-color;
        position: absolute;
        border-radius: 10px;
        bottom: -11px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;
    }
}

.hamburger {
    cursor: pointer;
    @include mobile {
        display: block;
    }

    @include ordiBurger {
        display: none;
    }
}

