@import '../utils/variables';
@import '../utils/mixins';
@import '../base/header';
//@import '../layout/header';


.header-container{
    @include display-align; 
    & .header-logo{
        width: 60%;
        @include display-align-flex-end;

    }
    nav{
        width: 38%;
        ul{
            @include display-align-flex-end;
            gap: 20px;
            li > a{
                color: $black-color;
            }
        }
    }

}

.nav-active {
    position: relative;

    &::after {
        content: "";
        height: 4px;
        width: 0;
        background-color: $orange-color;
        position: absolute;
        border-radius: 10px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim {
            to {
                width: 100%;
            }
        }

        @keyframes anim {
            to {
                width: 100%;
            }
        }
    }
}